<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app4go">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MedPlay"></activity>
        <activity android:name=".JSONPar" />
        <activity android:name=".DOMXMLParsing" />
        <activity android:name=".SAXXMLParsing" />
        <activity android:name=".SQLiteS" />
        <activity android:name=".SQLiteSample" /> <!-- <uses-permisions android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
        <activity android:name=".ExStorage" />
        <activity android:name=".InStorage" />
        <activity android:name=".Prefs2" />
        <activity android:name=".SharedPrefs" />
        <activity android:name=".AlarmMan" />

        <receiver android:name=".MyBroadcastReciever" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServicesTwo" />
        <activity android:name=".IntroServices" />
        <activity android:name=".PopUpMenu" />
        <activity android:name=".ContextFloatingMenu" />
        <activity android:name=".option_menu" />
        <activity android:name=".ShareAppData" />
        <activity android:name=".getresult" />
        <activity android:name=".StartActivtyForResult" />
        <activity android:name=".ExplicitIntent_1" />
        <activity android:name=".EmplicitIntent_0" />
        <activity android:name=".ImplicitIntent" />
        <activity android:name=".ActivityLifeCycle" />
        <activity android:name=".searhviewOnToolbar" />
        <activity android:name=".searchview" />
        <activity android:name=".tablayoutwithFrameLayout" />
        <activity android:name=".tablayout" />
        <activity android:name=".viewstub" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>